.brand-column {
    text-align: center; /* Центрирование изображения */
    flex-grow: 1; /* Чтобы все колонки были равной ширины */
    border-right: 1px solid #ccc; /* Вертикальная линия между колонками */
    padding: 0 10px; /* Отступы между изображениями */
}

.brand-column:first-child {
    border-left: 1px solid #ccc; /* Вертикальная линия между колонками */
}

.service-row {
    display: flex;
    justify-self: start;
}

.service-col {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Выравнивание содержимого по вертикали */
    text-align: center; /* Выравнивание по горизонтали */
    padding: 20px;
    flex-grow: 1; /* Колонки равной ширины */
}

.service-col img {
    margin-bottom: 20px;
    max-width: 100px; /* Ограничиваем размер изображений, можно изменить */
}
