.product-container {
    position: relative;
    height: 420px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.product-show {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: center;
}

.product-container:hover .product-show {
    opacity: 1;
    visibility: visible;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-container:hover .icon-container {
    opacity: 1;
}

.icon-heart, .icon-cart {
    font-size: 28px;
    color: #0185ce;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.icon-heart:hover, .icon-cart:hover {
    transform: scale(1.2);
    color: #006bb3;
}