body {
  margin: 0;
  font-family: "Oswald", Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: "Oswald", Sans-serif;
}
